<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
        }
        .form-group {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>User Signup</h1>
        <form action="{% url 'junior_signup' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="user" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="pwd" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="number" name="age" placeholder="Age" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="user-type">Select user type:</label>
                <select id="user-type" name="user-type">
                    <option value="project-owner">Project-owner</option>
                    <option value="annotator">Annotator</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Signup</button>

            </div>
            <span style="color: red">{{ error_msg }}</span>
        </form>
    </div>
</body>
</html>
